body
{
    background-color:gray;
    color:black;
}
.buttonClass {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font: menu;
    font-size: 14px;
}
table, th, td {
    border: 1px;
    border-style:solid;
    border-color:black;

}

#login {
	position: absolute;
	top: 50px;
	right: 100px;
}
#password {
	position: absolute;
	top: 80px;
	right: 100px;
}

#loginButtonId {
	position: absolute;
	top: 120px;
	right: 100px;
	height: 25px;
}

#registrationButtonId {
	position: absolute;
	top: 15px;
	right: 175px;
}

#message {
	position: absolute;
	top: 40px;
	right: 100px;
	color: red;
}
#messageTransaction {
	position: absolute;
	top: 400px;
	left: 10px;
	color: blue;
}
#buttonLogOut {
	position: absolute;
	top: 15px;
	right: 100px;
}

#customerDataForm {
	position: absolute;
	left: 3%;
	top: 100px;
	text-align: right;
}

#customerLoginUpdateForm {
	position: absolute;
	left: 20%;
	top: 100px;
	text-align: right;
}

#customerTransactionForm {
	position: absolute;
	left: 40%;
	top: 100px;
}

#addProductForm {
	position: absolute;
	left: 3%;
	top: 14%;
	text-align: left;
}

#addCategoryForm {
	position: absolute;
	left: 3%;
	top: 67%;
	text-align: left;
}

#pageHeader{
	font: bold;
	font-size: x-large;
	color: navy;
}

#optionHeader {
	font: bold;
	font-size: large;
	color: navy;
}

#ProductByCategoryPlain {
	position: absolute;
	left: 5%;
	top: 130px;
}

#ProductByCategoryFine {
	position: absolute;
	left: 40%;
	top: 130px;
}
#basket {
	position: absolute;
	right: 1%;
	top: 200px;
	font-size: small;
}