body {
    background-color: gray;
    color: black;
}

.msg {
    color: orange;
    font-size: 16px;
}

.msgError {
    color: orange;
    font-size: 16px;
}

table.search {
    width: 70%;
    border-collapse: collapse;
    background-color: rgb(138, 138, 125);
}

table.search th,
table.search td {
    border: 1px solid black;
    height: 30px;
    text-align: center;
}

table.search tr:hover {
    background-color: #bbe7bd;
}

#header {
    left: 0%;
    width: 100%;
    top: 0%;
    height: 15%;
    padding-left: 1%;
    position: fixed;
    float: left;
    text-align: left;
    border-bottom: 2px solid hsl(180, 70%, 55%);
}

#footer {
    left: 0%;
    width: 100%;
    top: 95%;
    height: 5%;
    position: fixed;
    border-top: 2px solid hsl(180, 70%, 55%);
    text-align: center;
}

#menu {
    left: 0%;
    width: 100%;
    top: 15%;
    height: 5%;
    border-bottom: 2px solid hsl(180, 70%, 55%);
    text-align: center;
    position: fixed;
}

.menu {
    padding-top: 7px;
}

#content {
    left: 0%;
    width: 100%;
    top: 20%;
    height: 75%;
    bottom: 5%;
    overflow: auto;
    padding-left: 1%;
    position: fixed;
}

#userMenu {
    left: 85%;
    width: 15%;
    top: 20%;
    height: 75%;
    bottom: 5%;
    overflow: auto;
    padding-left: 2%;
    position: fixed;
}

#userContent {
    left: 0%;
    width: 85%;
    top: 20%;
    height: 75%;
    bottom: 5%;
    overflow: auto;
    padding-left: 1%;
    border-right: 2px solid hsl(180, 70%, 55%);
    position: fixed;
}

#clock {
    font-size: 24px;
    font-weight: bold;
}

.button {
    font: bold 12px Arial;
    width: 170px;
    height: 30px;
    border-radius: 12px;
    background-color: #bbe7bd;
}

.button:hover {
    background-color: rgb(133, 155, 89);
}

#login {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 100px;
    height: 24px;
    background-color: aqua;
}

#login:hover {
    background-color: beige;
}

#logout {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 100px;
    height: 24px;
    background-color: aqua;
}

#logout:hover {
    background-color: beige;
}

#loggedUser {
    position: absolute;
    right: 200px;
    top: 10px;
}