body {
    background-color: rgb(105, 126, 117);
    /* background-image: url("../images/background.jpg"); */
    color: black;
}

.msg {
    color: blue;
    font-size: 16px;
}

.msgError {
    color: rgb(194, 9, 9);
    font-size: 16px;
}

table.search {
    width: 70%;
    border-collapse: collapse;
    background-color: rgb(132, 148, 131);
}

table.search th,
table.search td {
    border: 1px solid black;
    max-height: 100px;
    min-height: 25px;
    text-align: center;
    padding-left: 5px;
}

table.search tr:hover {
    background-color: #ade2af;
}

#header {
    left: 0%;
    width: 100%;
    top: 0%;
    height: 17%;
    padding-left: 1%;
    position: fixed;
    float: left;
    text-align: left;
    border-bottom: 2px solid beige;
}

#footer {
    left: 0%;
    width: 100%;
    top: 94%;
    height: 6%;
    position: fixed;
    border-top: 2px solid beige;
    text-align: center;
}

#menu {
    left: 0%;
    width: 100%;
    top: 17%;
    height: 7%;
    border-bottom: 2px solid beige;
    text-align: center;
    position: fixed;
    overflow: auto;
}

.menu {
    padding-top: 7px;
}

#content {
    left: 0%;
    width: 99%;
    top: 24%;
    height: 70%;
    bottom: 6%;
    overflow: auto;
    padding-left: 1%;
    position: fixed;
}

#userMenu {
    left: 80%;
    width: 18%;
    top: 24%;
    height: 70%;
    bottom: 6%;
    overflow: auto;
    padding-left: 2%;
    position: fixed;
}

#userContent {
    left: 0%;
    width: 79%;
    top: 24%;
    height: 70%;
    bottom: 6%;
    overflow: auto;
    padding-left: 1%;
    border-right: 2px solid beige;
    position: fixed;
}

#clock {
    font-size: 22px;
    font-weight: bold;
}

.menuButton {
    font: bold 12px Arial;
    width: 136px;
    height: 30px;
    border-radius: 12px;
    background-color: #bbe7bd;
}

.menuButton:hover {
    background-color: rgb(133, 155, 89);
}

.sideMenuButton {
    font: bold 12px Arial;
    width: 170px;
    height: 30px;
    border-radius: 12px;
    background-color: #bbe7bd;
}

.sideMenuButton:hover {
    background-color: rgb(133, 155, 89);
}

.navigateButton {
    font: bold 12px Arial;
    height: 28px;
    width: 160px;
}

.navigateButton:hover {
    background-color: rgb(133, 155, 89);
}

#login {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 100px;
    height: 26px;
    background-color: beige;
}

#login:hover {
    background-color: lightsteelblue;
}

#logout {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 100px;
    height: 26px;
    background-color: beige;
}

#logout:hover {
    background-color: lightcoral;
}

#loggedUser {
    position: absolute;
    right: 200px;
    top: 10px;
}

input[type=text],
input[type=search],
input[type=password],
input[type=file],
input[type=date],
select {
    background-color: #ade2af;
}

input[type=file],
input[type=search],
select {
    height: 26px;
}

input[type=date] {
    height: 20px;
}

select {
    min-width: 200px;
}

textarea {
    background-color: #ade2af;
}

.inputTime {
    width: 40px;
}

.textareaDescription {
    min-width: 400px;
    min-height: 200px;
}

table.workingTime {
    border-collapse: collapse;
    border-color: beige;
    width: 70%;
}

table.workingTime th {
    padding: 5px;
    height: 35px;
    text-align: left;
    border-color: beige;
}

table.workingTime td {
    padding: 5px;
    width: 100px;
    height: 35px;
    text-align: center;
    border-color: beige;
}

.workingTime input[type="checkbox"]:checked {
    box-shadow: 0 0 0 5px blue;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 5px green;
}

textarea.homePageDoctorsDescription {
    height: 300px;
    width: 98%;
    font-size: 120%;
    font-style: italic;
    resize: none;
    border: none;
    background-color: rgb(132, 148, 131);
}

td.homePageDoctorsDescription {
    height: 320px;
}

td.homePageDoctorsName {
    font-size: 150%;
    font-weight: bold;
    width: 320px;
}

td.homePageDoctorsPhoto {
    width: 320px;
}

table.homePageDoctors {
    width: 70%;
    border-collapse: collapse;
}

tr.homePageDoctors {
    background-color: rgb(132, 148, 131);
}

textarea.homePageTreatmentDescription {
    height: 100px;
    width: 98%;
    font-size: 120%;
    font-style: italic;
    resize: none;
    border: none;
    background-color: transparent;
}

table.homePageAgenda {
    border-collapse: collapse;
    background-color: rgb(132, 148, 131);
    width: 150px;
    height: 150px;
}

button.homePageAgenda {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 125px;
    height: 125px;
}

img.homePageAgenda {
    height: 110px;
    max-width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}