body {
    background-color: gray;
    color: black;
}

.msg {
    color: blue;
    font-size: 16px;
}

.msgError {
    color: orange;
    font-size: 16px;
}

.tableHomePage th {
    border: 2px solid black;
}

.tableHomePage td {
    border: 1px solid black;
}

#header {
    left: 0%;
    width: 100%;
    top: 0%;
    height: 15%;
    margin-left: 1%;
    position: fixed;
    float: left;
    text-align: left;
}

#footer {
    left: 0%;
    width: 100%;
    top: 95%;
    height: 5%;
    position: fixed;
    border-top: 2px solid hsl(180, 70%, 55%);
    text-align: center;
}

#menu {
    left: 0%;
    width: 100%;
    top: 15%;
    height: 5%;
    border-top: 2px solid hsl(180, 70%, 55%);
    border-bottom: 2px solid hsl(180, 70%, 55%);
    text-align: center;
    position: fixed;
}

#content {
    left: 0%;
    width: 100%;
    top: 20%;
    height: 75%;
    bottom: 5%;
    overflow: auto;
    margin-left: 1%;
    position: fixed;
}

#userMenu {
    left: 85%;
    width: 15%;
    top: 20%;
    height: 75%;
    bottom: 5%;
    overflow: auto;
    margin-left: 2%;
    position: fixed;
}

#userContent {
    left: 0%;
    width: 85%;
    top: 20%;
    height: 75%;
    bottom: 5%;
    overflow: auto;
    margin-left: 1%;
    margin-top: 2px;
    border-right: 2px solid hsl(180, 70%, 55%);
    position: fixed;
}

#clock {
    font-size: 24px;
    font-weight: bold;
}

.button {
    font: bold 12px Arial;
    width: 170px;
    height: 30px;
}

.button:hover {
    background-color: rgb(133, 155, 89);
}

#logout {
    position: absolute;
    right: 10px;
    top: 10px;
}